.body-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(149, 222, 222, 0.3);
}

.calc {
  height: 25rem;
  width: 20% !important;
  border-radius: 8px;
}

.output {
  /* background-color: rgba(255, 255, 255, 0.3); */
  background: #353534;
  height: 5rem;
  color: white;
  font-size: 1.5rem;
  display: flex;
  /* flex-wrap: wrap-reverse; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between ;
  padding-right: 1rem;
  word-wrap: break-word;
  word-break: break-all   ;
  position: relative;

}

.output .current-operand {
  position: absolute;
  /* background-color: red; */
  top: 2.75rem;
  text-align: right;

  color: rgb(255, 255, 255);
}

.output .previous-operand {
  color: rgba(255, 254, 254, 0.85);
  font-size: 1.2rem;
  display: flex;
  /* background-color: red; */
  width: 100vh;
  justify-content: flex-end;
}

.calc-item {
  border: 1px solid white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.calc-item:hover {
  background-color: rgba(66, 66, 66, 0.5);
}

.equalTwo{
  font-size: 1.3rem;
display: grid;
place-items: center;
}